html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

.header-text li a {
    margin-right: 20px;
    font-weight: 600;
    color: #70717C;
}

.banner {
    width: 100%;
    height: 720px;
    background: url(../images/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 48%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-content {
    margin-top: 190px;
}

.banner-content h5 {
    font-size: 33px;
    font-weight: 700;
    color: #000000;
}

.section-head h5 {
    font-size: 34px;
    color: #000000;
    font-weight: 700;
}

.text-orange {
    color: #F63F00;
}

.card-serial {
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    box-shadow: 0px 20px 50px 0px #00000012;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    position: absolute;
    top: -127px;
    z-index: 1;
    left: 120px;
}

.card-serial span {
    color: #F63F00;
    font-size: 54px;
    font-weight: 700;
    line-height: 70.47px;
}

.card-ctm-bg {
    border: none;
    background-color: #F8F8F8;
    border-radius: 0px 0px 29px 29px;
}

.card-ctm-bg .card-img-top {
    background-color: #ffffff;
}

.card-ctm-bg .card-title {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 130.5%;
    margin-bottom: 4px;
}

.card-ctm-bg .card-text {
    color: #323755;
    font-size: 15px;
    font-weight: 400;
    line-height: 152.5%;
}

.upper-image {
    margin-top: 220px;
    position: relative;
}

.upper-image::before {
    content: "";
    width: 70%;
    height: 100%;
    position: absolute;
    top: -149px;
    background: url(../images/background-line.png);
    background-repeat: no-repeat;
    background-size: contain;
    left: 130px;
    z-index: -1;
}

.card-serial-2 {
    top: -97px;
}

.card-serial-3 {
    top: -177px;
}

.space-top-20 {
    margin-top: 30px;
}

.space-top-15 {
    margin-top: 15px;
}

.sub-text {
    color: #F63F00;
    font-size: 16px;
    font-weight: 700;
    line-height: 130.5%;
    letter-spacing: 1.95px;
    text-transform: uppercase;
}

.main-head-inner {
    color: #000;
    font-size: 34px;
    font-weight: 700;
    line-height: 130.5%;
    text-transform: capitalize;
}

.inner-content {
    color: #323755;
    font-size: 16px;
    font-weight: 400;
    line-height: 152.5%;
}

.theme-button {
    padding: 12px 26px !important;
    border-radius: 32px;
    background: #F63F00;
    color: #ffffff;
    box-shadow: 0px 12px 20px 0px rgba(89, 52, 213, 0.12);
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    text-transform: capitalize;

}

.carousel-bg {
    background-color: #0000000A;
    padding: 110px 0px;
    margin-top: 110px;
}

.top-star i {
    color: #F63F00;
}

.card-cst {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
    padding: 10px 20px;
}

.f-16 {
    font-size: 16px;
}

.f-14 {
    font-size: 14px;
}

.owl-nav {
    display: none;
}

.owl-dots {
    text-align: center;
    margin-top: 50px;
}

.owl-dots button.owl-dot {
    width: 18px;
    height: 18px;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid #424242;
    margin-left: 10px;
}

.owl-dots button.owl-dot.active {
    background-color: #F63F00;
    border: none;
}

.owl-dots button.owl-dot:focus,
.owl-dots button.owl-dot:focus-visible {
    outline: none;
}

.about-app {
    width: 100%;
    padding: 150px 0;
    background: url(../images/about-app.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.space-form-right {
    padding-right: 135px;
}

.social-icons a i {
    font-size: 26px;
    color: #323755;
    margin-right: 20px;
}

.quick-links {
    margin-top: 30px;
}

.quick-links span {
    color: #323755;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    text-transform: capitalize;
}

.quick-links a {
    border-right: 1px solid #323755;
    padding-right: 8px;
    margin-right: 8px;
}

.quick-links a:last-child {
    border-right: none;
    padding-right: 0px;
    margin-right: 0px;
}

.right-reserved {
    margin-top: 12px;
    margin-bottom: 10px;
}

.right-reserved span {
    color: #323755;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    text-transform: capitalize;
}

.client-image {
    width: 45px;
    height: 45px;
}

.fixed-on-top {
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: #ffffff;
}

.background-color-nav {
    background-color: #FFFBFA !important;
    border-bottom: 1px solid #dddddd;
}

.icon-1,
.icon-2 {
    cursor: pointer;
    background: transparent;
    padding: 0;
}

.icon-1:focus-visible,
.icon-1:focus,
.icon-2:focus,
.icon-2:focus-visible {
    outline: none;
    box-shadow: none;
}

.contact-us-form div {
    margin-bottom: 10px;
}

.contact-us-form div input {
    font-size: 15px;
    color: #323755;
    padding: 20px 10px;
}

.contact-us-form div p {
    font-size: 14px;
    font-weight: 500;
    color: #444444;
    line-height: 19px;
    padding-bottom: 10px;
}

.cookies-text {
    color: #7a7a7a;
    font-size: 18px;
}

.cookies-div {
    background: #fbfbfb;
    border-top: 1px solid #d5d5d5;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 3;
}

.cookies-btn {
    padding: 10px 70px !important;
    box-shadow: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
}

section.space-form-top {
    padding-top: 110px;
}

.message-box {
    padding: 20px 0 70px 10px !important;
}

.poup-close:focus-visible {
    outline: none;
}

.poup-close.btn:focus {
    outline: 0;
    box-shadow: none;
}

.for-cookies-closs {
    position: absolute;
    top: -20px;
    right: 0;
}

.bg-transparent {
    padding: 0;
}

.space-bottom {
    margin-bottom: 40px;
}

.popup-submit {
    padding: 8px 30px !important;
}

.popup-submit:focus,
.popup-submit:focus-visible {
    box-shadow: none;
    outline: none;
}

/*---------responcive-start------------*/
@media screen and (max-width: 1440px) {
    .about-app {
        padding: 60px 0;
        background-position: center center;
    }

    .space-form-right {
        padding-right: 0;
    }
}

@media screen and (max-width: 991px) {
    .card-serial span {
        font-size: 40px;
    }

    .card-serial {
        width: 60px;
        height: 60px;
    }

    .card-serial-2 {
        top: -122px;
    }

    .quick-links span {
        font-size: 14px;
    }

    .section-text button.btn.theme-button {
        margin-top: 5px !important;
    }

    .space-for-desktop {
        padding: 0px !important;
    }

}

@media screen and (min-width: 768px) {
    .space-for-desktop {
        padding: 0px 40px;
    }
}

@media screen and (max-width: 767px) {
    .upper-image::before {
        background: url(../images/bg-for-mobile.png);
        background-repeat: no-repeat;
        left: 30%;
        top: -79px;
        width: 56%;
        background-size: contain;
    }

    .banner-content h5 {
        font-size: 26px;
        padding: 0 30px;
    }

    .banner-content {
        margin-top: 260px;
    }

    .app-icons {
        flex-direction: column;
        justify-content: center !important;
        align-items: center;
    }

    .banner-content {
        text-align: center;
    }

    .icon-1 {
        width: 180px;
        margin-bottom: 20px;
    }

    .icon-2 {
        width: 180px;
    }

    .icon-1 img {
        height: 58px;
    }

    .icon-2 img {
        height: 58px;
    }

    .section-head {
        text-align: center;
    }

    .section-head h5 {
        font-size: 28px;
    }

    .card-serial {
        left: 50%;
    }

    .space-top-15 {
        margin-top: 150px;
    }

    .space-top-20 {
        margin-top: 150px;
    }

    .card-serial.card-serial-2 {
        top: 41px;
        left: 46%;
    }

    .card-serial-3 {
        top: 63px;
    }

    .about-app {
        background: url(../images/about-for-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 420px;
    }

    .app-icons-2 {
        align-items: flex-start !important;
    }

    .banner {
        background: url(../images/map-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 20%;
    }

    .card-ctm-bg .card-title {
        font-size: 18px;
    }

    .card-ctm-bg .card-text {
        font-size: 14px;
    }

    .sub-text {
        font-size: 13px;
    }

    .main-head-inner {
        font-size: 25px;
    }

    .inner-content {
        font-size: 14px;
    }

    .main-head-inner {
        font-size: 25px;
    }

    .main-head-inner.text-mobile {
        font-size: 25px;
    }

    .right-reserved span {
        font-size: 14px;
    }

    .banner {
        height: 90vh;
    }

    .mobile-center {
        text-align: center !important;
    }

    .cookies-btn {
        padding: 10px 0px !important;
        margin-top: 20px;
        width: 100%;
    }

    .space-bottom {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 390px) {
    .upper-image::before {
        left: 27%;
        width: 64%;
    }
}

@media screen and (max-width: 450px) {
    .upper-image::before {
        left: 27%;
        width: 64%;
    }

    .banner-content h5 {
        padding: 0 10px;
    }

    .banner {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 17%;
    }

    .banner-content {
        margin-top: 120px;
    }

    .bg-transparent {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .navbar-brand img {
        max-width: 121px;
        vertical-align: text-top;
    }

    button.navbar-toggler {
        padding: 1px 6px;
        font-size: 16px;
    }
}

/*---------responcive-end------------*/
